@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "primereact/resources/primereact.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.p-stepper-panels {
    background-color: black;
}

.p-password-input.p-inputtext.p-component{
    background-color: black;
    color: white;
}

